.task-group-header {
    padding: .5em;
    font-weight: 600;
}

#q1 {
    background: #EC5D57 linear-gradient(rgb(240, 87, 81), rgb(238, 111, 106), rgb(241, 118, 114));//#fd393acf;
}

#q2 {
    background: #70BF41 linear-gradient(rgb(136, 245, 73), rgb(148, 241, 94), rgb(184, 241, 150));
}

#q3 {
    background: #51A7F9 linear-gradient(#44a1f9, #61acf2, #9bc8f2);
}

#q4 {
    background: #F5D328 linear-gradient(#F5D328, #F5D328, #F5D328);
}