.task-group {
    width: calc(2em - 50vw);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
	align-items: flex-start;
    align-content: flex-start;
}
.task-content {
    font-size: 1.5rem;
    width: 49vw;
}
@media screen and (max-width: 1080px) {
    .task-group {
        width: calc(2em - 100vw);
    }
    .task-content {
        width: 93vw;
    }
}
